@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: 'Roboto';
}

a:hover {
  cursor: pointer;
}

p {
  line-height: 1.3;
}

.bold {
  font-weight: 600;
}

.link {
  color: black;
  text-decoration: none;
  position: relative;
}

.text--container {
  display: inline-block;
  position: relative;
}

.turquoise::after, .pink::after, .yellow::after, .blue::after {
  content: '';
  width: 100%;
  height: 7px;
  background: #A4EFF1;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  z-index: -1;
}

.turquoise::after {
  background: #A4EFF1;
}

.pink::after {
  background: #E777A8;
}

.yellow::after {
  background: #F6C667;
}

.blue::after {
  background: #B1BCF0;
}

.color-outline {
  border: 2px solid black;
}

.turquoise--header::after, .pink--header::after, .yellow--header::after, .blue--header::after {
  width: 105%;
  height: 20px;
  bottom: -2px;
  left: 10px;
}

.turquoise--p::after, .pink--p::after, .yellow--p::after, .blue--p::after {
  height: 7px;
  bottom: 1px;
  left: 0;
  right: 0;
}

.turquoise--header, .pink--header, .yellow--header, .blue--header {
  position: relative;
}

.arrow-icon {
  margin-left: 10px;
}
